@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Titillium Web";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Titillium Web";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1133px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 0px 82px;
  min-height: 70px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.header-block {
  text-align: center;
}

.header-block__title {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  font-size: 40px;
  font-weight: 700;
  line-height: 74.775%;
  text-transform: uppercase;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 21px 0px;
}

.header-block__title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.header-block__line {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: inline-block;
  width: 87px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.header-block__line:not(:last-child) {
  margin: 0px 0px 18px 0px;
}

.header-block__line._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.header-block__sub-title {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  font-size: 18px;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.36px;
}

.header-block__sub-title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.header-block ._dark-blue_title {
  font-size: 40px;
  color: #3c4761;
}

.header-block ._dark-blue_line {
  background-color: rgba(189, 209, 223, 0.75);
}

.header-block ._dark-blue_sub-title {
  margin: 0 auto;
  max-width: 568px;
  color: #3c4761;
}

.header-block ._services {
  margin: 0 auto;
  max-width: 603px;
}

.header-block .__portfolio {
  max-width: 515px;
}

.header-block .__team {
  max-width: none;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}

.header._scroll .header__wrapper {
  background-color: rgba(135, 80, 156, 0.8);
}

.header._scroll .header__body {
  min-height: 70px;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #87509c;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header__body {
  -webkit-transition: min-height 0.5s ease 0s;
  -o-transition: min-height 0.5s ease 0s;
  transition: min-height 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  min-height: 120px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 705px;
          flex: 0 1 705px;
  max-width: 100%;
}

.menu__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin: 0px 8px 0px 0px;
}

.menu__link {
  font-weight: 400;
  line-height: 112.5%;
  text-transform: uppercase;
  color: inherit;
  z-index: 1;
  padding: 0.6rem 1rem;
  position: relative;
}

.menu__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #643a79;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.menu .icon-menu {
  display: none;
}

.footer {
  background-color: #344b8e;
  padding: 48px 0px 41px 0px;
}

.footer__container {
  max-width: 940px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 124.625%;
  text-align: center;
  letter-spacing: 0.48px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.welcome {
  background-color: #87509c;
}

.welcome__body {
  padding: 231px 0px 145px 0px;
}

.welcome__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 116.2380952381%;
  text-align: center;
  margin: 0px 0px 54px 0px;
}

.welcome__title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.welcome__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 145.5%;
  background-color: #eb7d4b;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
}

.services {
  background-color: #17c2a4;
  padding: 119px 0px 128px 0px;
}

.services__header:not(:last-child) {
  margin: 0px 0px 78px 0px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__column {
  padding: 0px 27px 0px 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.services__item {
  text-align: center;
}

.services__icon {
  min-height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__icon:not(:last-child) {
  margin: 0px 0px 62px 0px;
}

.services__label {
  font-size: 24px;
  font-weight: 700;
  line-height: 75%;
  text-transform: uppercase;
}

.services__label:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.services__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.team {
  padding: 119px 0px 127px 0px;
  background-color: #e7f1f8;
}

.team__header:not(:last-child) {
  margin: 0px 0px 78px 0px;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -40px;
}

.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 40px 40px;
}

.item-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.item-team__image {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.item-team__image:not(:last-child) {
  margin: 0px 0px 41px 0px;
}

.item-team__name {
  color: #27283d;
  font-size: 24px;
  font-weight: 700;
  line-height: 75%;
  text-transform: uppercase;
}

.item-team__name:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-team__label {
  color: #30bae7;
  font-weight: 400;
  line-height: 112.5%;
  letter-spacing: 0.32px;
}

.item-team__label:not(:last-child) {
  margin: 0px 0px 26px 0px;
}

.item-team__text {
  color: #3c4761;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.item-team__text:not(:last-child) {
  margin: 0px 0px 31px 0px;
}

.item-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-team__list li:not(:last-child) {
  margin: 0px 12px 0px 0px;
}

.skills {
  padding: 117px 0px 122px 0px;
}

.skills__header:not(:last-child) {
  margin: 0px 0px 84px 0px;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.charts-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.charts-skills__circles:not(:last-child) {
  margin: 0px 0px 32px 0px;
}

.charts-skills__text {
  color: #3c4761;
  font-size: 24px;
  font-weight: 700;
  line-height: 75%;
  text-transform: uppercase;
  text-align: center;
}

.charts-skills .charts-skills__circles-color {
  -webkit-animation: charts_progress 1.5s ease-in-out;
          animation: charts_progress 1.5s ease-in-out;
}

@-webkit-keyframes charts_progress {
  0% {
    stroke-dasharray: 0, 100;
  }
}

@keyframes charts_progress {
  0% {
    stroke-dasharray: 0, 100;
  }
}

.charts-skills .charts-skills__circles-info {
  fill: #3c4761;
  font-size: 10px;
  font-weight: 300;
}

.potfolio {
  color: #393939;
  background-color: #ffdd99;
  padding: 120px 0px 109px 0px;
}

.potfolio__header:not(:last-child) {
  margin: 0px 0px 42px 0px;
}

.potfolio__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.potfolio__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.potfolio__image img {
  max-width: 100%;
}

.potfolio__image:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.potfolio__text {
  margin: 32px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 108.3333333333%;
  text-transform: uppercase;
}

.potfolio__button {
  margin-top: 40px;
  background-color: #17c2a4;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
}

.categories-potfolio {
  margin: 0px 0px 62px 0px;
}

.categories-potfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-potfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-potfolio__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.categories-potfolio__link {
  min-height: 38px;
  padding: 0px 27px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: 400;
  line-height: 108.3333333333%;
  text-transform: uppercase;
  border-radius: 3px;
  color: inherit;
  text-align: center;
}

.categories-potfolio__link:active {
  background-color: #fff;
}

.aboutus {
  background-color: #d74680;
  padding: 119px 0px 133px 0px;
}

.aboutus__header:not(:last-child) {
  margin: 0px 0px 70px 0px;
}

.aboutus__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px 40px;
}

.aboutus__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
}

.aboutus__image {
  overflow: hidden;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.aboutus__text {
  max-width: 351px;
  font-size: 21px;
  font-style: italic;
  line-height: 148.5714285714%;
  letter-spacing: 0.35px;
}

.aboutus__text:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

.aboutus__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 108.3333333333%;
  text-transform: uppercase;
}

.aboutus__name:not(:last-child) {
  margin: 0px 0px 9px 0px;
}

.aboutus__label {
  color: #ffdd99;
  font-size: 18px;
  font-weight: 400;
  line-height: 144.4444444444%;
  letter-spacing: 0.36px;
}

.getintouch {
  background-color: #3c5499;
  padding: 119px 0px 115px 0px;
}

.getintouch__container {
  max-width: 860px;
}

.getintouch__header:not(:last-child) {
  margin: 0px 0px 76px 0px;
}

.getintouch__tel {
  color: inherit;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.form-getintouch:not(:last-child) {
  margin: 0px 0px 59px 0px;
}

.form-getintouch__body {
  display: -ms-grid;
  display: grid;
  grid-gap: 27px 32px;
      grid-template-areas: "input input" "textarea textarea";
}

.form-getintouch__body textarea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  background-color: #273a71;
  min-height: 200px;
  resize: vertical;
  overflow: auto;
  grid-area: textarea;
  border-radius: 3px;
  padding: 22px 25px 0px 25px;
}

.form-getintouch__body textarea::-webkit-input-placeholder {
  color: #fff;
}

.form-getintouch__body textarea::-moz-placeholder {
  color: #fff;
}

.form-getintouch__body textarea:-ms-input-placeholder {
  color: #fff;
}

.form-getintouch__body textarea::-ms-input-placeholder {
  color: #fff;
}

.form-getintouch__body textarea::placeholder {
  color: #fff;
}

.form-getintouch__body input {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  background-color: #273a71;
  border-radius: 3px;
  padding: 11px 25px 11px 25px;
}

.form-getintouch__body input::-webkit-input-placeholder {
  color: #fff;
}

.form-getintouch__body input::-moz-placeholder {
  color: #fff;
}

.form-getintouch__body input:-ms-input-placeholder {
  color: #fff;
}

.form-getintouch__body input::-ms-input-placeholder {
  color: #fff;
}

.form-getintouch__body input::placeholder {
  color: #fff;
}

.form-getintouch__button {
  background-color: #30bae7;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1150px) {
  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1146px) {
  .aboutus__body {
    grid-gap: 40px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .aboutus__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .aboutus__image:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .aboutus__info {
    text-align: center;
  }
}

@media (max-width: 1145px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1133px) {
  .header-block__title {
    font-size: calc(23px + 17 * ((100vw - 320px) / 813));
  }

  .header-block ._dark-blue_title {
    font-size: calc(22px + 18 * ((100vw - 320px) / 813));
  }

  .footer__link {
    font-size: calc(18px + 6 * ((100vw - 320px) / 813));
  }

  .welcome__title {
    font-size: calc(24px + 18 * ((100vw - 320px) / 813));
  }

  .services__text {
    font-size: calc(18px + -2 * ((100vw - 320px) / 813));
  }

  .item-team__image {
    width: calc(150px + 50 * ((100vw - 320px) / 813));
  }

  .item-team__image {
    height: calc(150px + 50 * ((100vw - 320px) / 813));
  }

  .item-team__name {
    font-size: calc(20px + 4 * ((100vw - 320px) / 813));
  }

  .aboutus__image {
    width: calc(90px + 6 * ((100vw - 320px) / 813));
  }

  .aboutus__image {
    height: calc(90px + 6 * ((100vw - 320px) / 813));
  }

  .aboutus__text {
    font-size: calc(18px + 3 * ((100vw - 320px) / 813));
  }

  .aboutus__name {
    font-size: calc(20px + 4 * ((100vw - 320px) / 813));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__body {
    min-height: 100px;
  }

  .menu__link {
    padding: 0.4rem 0.8rem;
  }

  .welcome__body {
    padding: 150px 0px 70px 0px;
  }

  .services {
    padding: 90px 0px 80px 0px;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 27px 40px 27px;
  }

  .team {
    padding: 90px 0px 80px 0px;
  }

  .skills {
    padding: 90px 0px 80px 0px;
  }

  .skills__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .skills__column:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }

  .potfolio {
    padding: 90px 0px 80px 0px;
  }

  .aboutus {
    padding: 90px 0px 80px 0px;
  }

  .aboutus__header:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }

  .getintouch {
    padding: 90px 0px 80px 0px;
  }
}

@media (max-width: 991.98px) and (max-width: 479.98px) {
  .skills__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    min-height: 5px;
  }

  .header__body {
    min-height: 80px;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: rgba(135, 80, 156, 0.9);
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    position: relative;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    font-size: 24px;
    padding: 0;
  }

  .menu .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .menu .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .menu .icon-menu span:first-child {
    top: 0px;
  }

  .menu .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 20px 0px 15px 0px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333333%;
            flex: 0 1 33.3333333%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .welcome__body {
    padding: 120px 0px 60px 0px;
  }

  .services {
    padding: 70px 0px 0px 0px;
  }

  .services__icon:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  .team {
    padding: 70px 0px 0px 0px;
  }

  .team__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills {
    padding: 70px 0px 20px 0px;
  }

  .potfolio {
    padding: 70px 0px 40px 0px;
  }

  .categories-potfolio {
    margin: 0px 0px 30px 0px;
  }

  .aboutus {
    padding: 70px 0px 40px 0px;
  }

  .aboutus__header:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .aboutus__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .getintouch {
    padding: 70px 0px 40px 0px;
  }

  .getintouch__header:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }

  .form-getintouch__body {
        grid-template-areas: "input" "input" "textarea";
  }

  .form-getintouch__body textarea {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 710px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 640px) {
  .potfolio__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .potfolio__image:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }

  .potfolio__text {
    margin: 16px 0px 0px 0px;
  }
}

@media (max-width: 610px) {
  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 479.98px) {
  .potfolio__button {
    padding: 0px 71px;
  }

  .categories-potfolio__body {
    display: block;
  }

  .categories-potfolio__list {
    display: block;
  }

  .categories-potfolio__item {
    width: 100%;
  }

  .categories-potfolio__item:not(:last-child) {
    padding: 0px 0px 10px 0px;
  }

  .categories-potfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (any-hover: hover) {
  .header._scroll .header__wrapper:hover {
    background-color: rgba(135, 80, 156, 0.9);
  }

  .menu__link:hover:after {
    right: 0;
    left: 0;
    height: 100%;
  }

  .footer__link:hover {
    color: #30bae7;
  }

  .welcome__button:hover {
    background-color: #c47754;
  }

  .potfolio__button:hover {
    background-color: #3da18f;
  }

  .getintouch__tel:hover {
    color: #30bae7;
  }

  .form-getintouch__button:hover {
    background-color: #419ab8;
  }
}